@import url(belcms_notification.css);
@import url(belcms_color.css);
code, pre {
	word-wrap:break-word !important;
}
.belcms_text_justify {
	text-align: justify !important;
}
.belcms_upper_text {
	text-transform: uppercase !important;
}
.belcms_center {
	text-align: center !important;
	margin: auto !important;
}