:root {
    --BelCMS-blue: #0d6efd;
    --BelCMS-indigo: #6610f2;
    --BelCMS-purple: #6f42c1;
    --BelCMS-pink: #d63384;
    --BelCMS-red: #dc3545;
    --BelCMS-orange: #fd7e14;
    --BelCMS-yellow: #ffc107;
    --BelCMS-green: #198754;
    --BelCMS-teal: #20c997;
    --BelCMS-cyan: #0dcaf0;
    --BelCMS-black: #000;
    --BelCMS-white: #fff;
    --BelCMS-gray: #6c757d;
    --BelCMS-gray-dark: #343a40;
    --BelCMS-gray-100: #f8f9fa;
    --BelCMS-gray-200: #e9ecef;
    --BelCMS-gray-300: #dee2e6;
    --BelCMS-gray-400: #ced4da;
    --BelCMS-gray-500: #adb5bd;
    --BelCMS-gray-600: #6c757d;
    --BelCMS-gray-700: #495057;
    --BelCMS-gray-800: #343a40;
    --BelCMS-gray-900: #212529;
    --BelCMS-primary: #0d6efd;
    --BelCMS-secondary: #6c757d;
    --BelCMS-success: #198754;
    --BelCMS-info: #0dcaf0;
    --BelCMS-warning: #ffc107;
    --BelCMS-danger: #dc3545;
    --BelCMS-light: #f8f9fa;
    --BelCMS-dark: #212529;
    --BelCMS-link: rgb(0, 217, 255);
    --BelCMS-link-hover: rgb(0, 255, 255);
    --BelCMS-link-active: rgb(0, 255, 255);
    --BelCMS-link-visited: rgb(0, 255, 255);
    --BelCMS-link-focus: rgb(0, 255, 255);
    --BelCMS-link-disabled: rgb(0, 255, 255);
    --BelCMS-table:#505050;
    --BelCMS-table-title: #505050;
    --BelCMS-table-title-bg: #212529;
    --BelCMS-table-color: #f8f9fa;
    --BelCMS-table-border: #343a40;
    --BelCMS-table-title: #f0e9e9;
    --BelCMS-table-td-bg: #ced4da;
    --BelCMS-table-td-color: #505050;
    --BelCMS-table-hover: #f8f9fa;
    --BelCMS-table-active: #dee2e6;
    --BelCMS-table-striped: #d7dce1;
    --BelCMS-table-bordered: #dee2e6;
    --BelCMS-table-borderless: #dee2e6;
    --BelCMS-table-responsive: #dee2e6;
    --belcms-table-thead: #dee2e6;
}